---
export const prerender = false;

import ProfileInfo from "../../components/ProfileInfo.astro";
import Repositories from "../../components/Repositories.astro";
import Layout from "../../layouts/Layout.astro";
import {getGithubUser, getGithubRepos} from '../../services/githubService'

export async function getStaticPaths() {
  // Puedes mantener algunos perfiles pre-generados para mejor performance
  const predefinedUsers = ['devferx', 'mar-vall', 'facebook'];
  
  return predefinedUsers.map(username => ({
    params: { username },
    props: { isPredefined: true } // Prop adicional para identificar rutas pre-generadas
  }));
}

const { username } = Astro.params;
console.log('user', username)
let user, repos;

try {
  [user, repos] = await Promise.all([
    getGithubUser(username),
    getGithubRepos(username)
  ]);
  
  // if (!user) {
  //   throw new Error('Usuario no encontrado');
  // }
  if (!user) {
  return new Response(null, { status: 404 });
}
} catch (error) {
  // Redirigir a 404 si falla la obtención de datos
  return Response.redirect('/404', 404);
}

const currentTime = new Date().toLocaleTimeString();

Astro.response.headers.set('Cache-Control', 'public, s-maxage=60, stale-while-revalidate=30');
---
<Layout>
    <div class="px-6 lg:px-20 pt-10 lg:grid lg:grid-cols-5 bg-primary">
        <ProfileInfo userData={user}/>
        <Repositories repos={repos}/>
    </div>
    <p class="py-4 text-black">{currentTime}</p>
</Layout>