---
import { LinkIcon, LocationIcon, StarIcon, TwitterIcon, UsersIcon } from "../assets/icons";


---
<aside class="">
    <img class="w-64 h-64 rounded-full border border-slate-300" src="https://placehold.co/250x250" />
    <h1 class="text-2xl font-semibold leading-loose tracking-wide">Leonidas Esteban</h1>
    <h2 class="pb-3 text-slate-500 text-xl font-light leading-normal tracking-wide">Leonidas Esteban</h2>
    <div class="inline-flex gap-2 py-2">
        <button class="px-6 py-1 text-center rounded-lg outline text-sm font-medium leading-normal tracking-wide">Follow</button>
        <button class="px-6 py-1 text-center rounded-lg outline text-sm font-medium leading-normal tracking-wide">Sponsor</button>
    </div>
    <p class="py-4 text-slate-400 text-base font-normal leading-normal tracking-wide">Software Engineer, Professor</p>
    <ul class="">
        <li class="pb-3">
            <span class="inline-flex gap-1.5">
            <UsersIcon/>
                <b>4.6k</b> Followers · <b>60</b> Following ·</span> 
        </li>
        <li class="pb-3">
           <StarIcon/> <p>
            81</p>
        </li>
        <li class="pb-3">
            <span class="inline-flex gap-1.5">

                <LocationIcon/>
                Ciudad de Mexico
            </span>
        </li>
        <li class="pb-3">
            <LinkIcon/>
            <a href="#">
                link
            </a>
        </li>
        <li class="pb-3 inline-flex">
                <TwitterIcon/>
                
                @LeonidasEsteban
        </li>
    </ul>
</aside>