---
import Welcome from '../components/Welcome.astro'
import ProfileInfo from '../components/ProfileInfo.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import Repositories from '../components/Repositories.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const response = await fetch('https://api.github.com/users/devferx');
const userData = await response.json();

const profileData = {
  login: userData.login,
  name: userData.name,
  followers: userData.followers,
  following: userData.following,
  bio: userData.bio,
  publicGists: userData.public_gists,
  twitterUsername: userData.twitter_username,
  avatarUrl: userData.avatar_url,
  location: userData.location,
  blog: userData.blog
};
---

<Layout>
  <div class="px-6 lg:px-20 pt-10 lg:grid lg:grid-cols-5 bg-primary">
    <ProfileInfo userData={profileData}/>
    <Repositories />
  </div>
</Layout>
