.progress-bar {
  position: relative;
  width: 244px;
  height: 244px;
}

.timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timer-info{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 30%);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}