:root {
  --background-color: #C8C8C8;
  --circle-right-color: #cec6cd;
  --circle-left-color: #bcb6b6;
  --background-card-color: #c4dbd5;
  --button-color: #6aa293;
  --text-secondary-buton-color: #e1f55f;
  --text-title-color: #604156;
  --toggle-bg: #de77d0;
  --toggle-fg: #a62795;

  font-family: Roboto;

  color: white;

}

body {
  margin: 0;
}

button {
  display: flex;
  width: 244px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  color: white;
  background: var(--button-color);
  border-width: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px; /* 100% */
  
  cursor: pointer;
  transition: box-shadow 0.25s;
}
button:hover {
  /* Shadow */
  box-shadow: 9px 9px 16px 0px rgba(0, 0, 0, 0.24),
    -4px -4px 16px 0px rgba(73, 73, 73, 0.4); 
} 

[data-theme = "dark"]{
  --background-color: #172030;
  --circle-right-color: #172030;
  --circle-left-color: #1A2538;
  --background-card-color: #141C27;
  --button-color: #172030;
  --text-secondary-buton-color: #F94409;
  --text-title-color: white;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}
