:root {
  font-family: Roboto;

  /* color-scheme: light dark; */
  color: white;
  background: var(--Bg, #172030);

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  display: flex;
  width: 244px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  color: white;
  background: var(--Button, #172030);

  /* Shadow */
  box-shadow: 9px 9px 16px 0px rgba(0, 0, 0, 0.24),
    -4px -4px 16px 0px rgba(73, 73, 73, 0.4);
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: #646cff;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
